<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">Create a new post</h1>
    <h4 class="text-center">(Support Markdown)</h4>
    <br>
    <form action="/list" method="post" style="width: 100%; margin: 0 auto">

        <div class="form-group float-right" style="width: 10%">
            <a href="/list" class="btn btn-outline-danger btn-block">Go Back</a>
        </div>
        <div class="form-group float-right" style="width: 1rem">
        </div>
        <div class="form-group float-right" style="width: 10%  ">
            <button class="btn btn-outline-primary btn-block">Submit!</button>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Image Link">
        </div>
        <div class="form-group">
            <textarea class="form-control new-content" name="content" id="new-post-content"
                      placeholder="What's in your mind?" style="height: 100rem"></textarea>
        </div>

    </form>
</div>


<% include ../partials/footer %>