<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Post List</h1>
        </div>
    </header>
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Hello!</p>
            <div class="list-group">
                <li class="list-group-item"><a href="/list/new" class="btn btn-light">Add a new post!</a></li>
                <li class="list-group-item">Tag</li>
                <li class="list-group-item">Most Popular</li>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <% component.forEach(function (c) { %>

                <div class="col-lg-9">
                    <img src="<%= c.link %>" alt="" class="img-thumbnail img-fluid">
                    <figcaption class="figure-caption text-center"><%= c.name %></figcaption>
                    <a href="/list/<%= c.id %>" class="btn btn-info float-right">More Info</a>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>