<% include partials/header %>

<h1>This is the home page!</h1>

<% for (var i = 0; i < arr.length; i++) { %>
    <p>Title: <%= arr[i] %></p>
<% } %>

<form action="/newpost" method="post">
    <input type="text" name="content">
    <button>Submit!</button>
</form>


<% include partials/footer %>