<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1>
        </div>
    </header>
    <div class="jumbotron bg-transparent text-center">
        <h2>Welcome to this site!</h2>
    </div>
</div>

<% include partials/footer %>