<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Image List</h1>
            <p>List of images!</p>
            <p>
                <a href="/list/new" class="btn btn-primary">Add a new image!</a>
            </p>
        </div>
    </header>
    <div class="row">
        <div class="col-12">
            Image List
        </div>
        <% component.forEach(function (c) { %>
            <div class="col-md-3 col-sm-6">
                <figure class="figure">
                    <img src="<%= c.link %>" class="figure-img img-fluid img-thumbnail" alt="IMG">
                    <figcaption class="figure-caption text-center"><%= c.name %></figcaption>
                </figure>
                <a href="/list/<%= c.id %>" class="btn btn-info">More Info</a>

            </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>
