<% include partials/header %>

<h1>This is a loop test!</h1>

<% for (var i = 0; i < arr.length; i++) { %>
    <p> Title: <%= arr[i].title %></p>
    <p>Author: <%= arr[i].author %></p>
<% } %>
<% include partials/footer %>

