<% include partials/header %>

<div class="container">
    <h1 class="text-center">Add image!</h1>

    <form action="/list" method="post" style="width: 30%; margin: 0 auto">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Image Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Image Link">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Submit!</button>
            <a href="/list" class="btn btn-danger btn-block">Go Back</a>
        </div>

    </form>
</div>


<% include partials/footer %>