<% include partials/header %>
<h1>Sign Up</h1>
<form action="/register" method="post">
    <input type="text" placeholder="Username" name="user[username]">
    <input type="password" placeholder="Password" name="user[password]">
    <button>Submit</button>
</form>
<% include partials/footer %>